@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: linear-gradient(135deg, #c3ecfe, #fdd8f7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
